<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stage Regression Suite">
  <test name="Automation Test">
    <classes>
		
		
			<class name="com.Test.TeamTest"/>
			<class name="com.Test.TransferTest"/>
			<class name="com.Test.TaggingTest"/>
			
			
    </classes>
  </test>
</suite>
